.buttonNav {
    position: absolute;
    top: 30px;
    right: 30px;
}

.buttonNav button {
    width: auto !important;
    min-width: 220px !important;
}

@media (max-width: 767px) {
    .buttonNav {
        top: 15px !important;
        right: 15px !important;
    }

    .buttonNav button {
        min-width: 150px !important;
        height: 40px !important;
        font-size: 12px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .buttonNav {
        top: 20px !important;
        right: 30px !important;
    }

    .buttonNav button {
        min-width: 180px !important;
        height: 45px !important;
        font-size: 13px !important;
    }
}

@media (min-width: 1024px) {
    .buttonNav {
        top: 30px !important;
        right: 60px !important;
    }

    .buttonNav button {
        min-width: 220px !important;
        height: 50px !important;
        font-size: 15px !important;
    }
}